@import './base.css';

#app {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 4rem 2rem 0rem 2rem;

  font-weight: normal;
}

.header {
  position: fixed !important;
}

.main {
  margin: 10px;
}

a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px
}
